
language: java
sudo: false
script: 
- mvn clean install
- java -jar target/Matrices-0.0.1-SNAPSHOT.jar com.testwo.Matrices.MyBenchmark.testMultIJK -p noRows=10 -rf csv -rff testIJK
- java -jar target/Matrices-0.0.1-SNAPSHOT.jar com.testwo.Matrices.MyBenchmark.testMultIKJ -p noRows=10 -rf csv -rff testIKJ
notifications:
  email: false
after_success: 
- apt-get install python2.7
- chmod +x plotScript.py
- ./plotScript.py
- chmod +x update-gh.sh 
- ./update-gh.sh
